{{ form_start(form) }}
{{ form_widget(form) }}
<div class="buttons pt-2">
	<button class="btn btn-primary">Sauvegarder</button>
	<a class="btn btn-info" href="{{ path('app_main') }}">Retour</a>
</div>
{{ form_end(form) }}
